body {
    background-color: beige;
}
div {
    color: beige;
    font: 700 30pt arial;background-color: green;
    letter-spacing: 15pt;
    text-align: center;
}
table {
    width: 100%;
    height: 100%;
}
td {
    width: 20%;
    background-color: lightgreen;
}
#a1{
    font: 700 10pt verdana;
}