body {
    background-color: beige;
}

h2 {
    color: bottlegreen;
    font: 700 20pt arial
}

h4 {
    color: brwon;
    font: 700 11pt verdana
}

td {
    font: 10pt verdana
}

a {
    font: 10pt verdana;
    color: navy
}
input {
    
}